<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="timeout" type="System.Configuration.SingleTagSectionHandler"></section>
  </configSections>
    <!--Ping 超时时间-->
  <timeout key="timeout" value="4000"></timeout>

  <appSettings>
    <!--以下为现场交换机主备网-->
    <add key="ip0" value="1#服务器（地震主）+172.16.0.151"/>
    <add key="ip1" value="2#服务器（地震备）+172.16.0.152"/>
    <add key="ip2" value="华兴村线路所（信号主）+172.16.1.13"/>
    <add key="ip3" value="华兴村线路所（信号备）+172.16.2.13"/>
    <add key="ip4" value="中继1（信号主）+172.16.1.23"/>
    <add key="ip5" value="中继1（信号备）+172.16.2.23"/>
    <add key="ip6" value="中继1（地震主）+172.16.1.33"/>
    <add key="ip7" value="中继1（地震备）+172.16.2.33"/>
    <add key="ip8" value="中继2（信号主）+172.16.1.43"/>
    <add key="ip9" value="中继2（信号备）+172.16.2.43"/>
    <add key="ip10" value="李家湾牵引变电所（地震主）+172.16.1.53"/>
    <add key="ip11" value="李家湾牵引变电所（地震备）+172.16.2.53"/>
    <add key="ip12" value="中继3（信号主）+172.16.1.63"/>
    <add key="ip13" value="中继3（信号备）+172.16.2.63"/>
    <add key="ip14" value="白河村AT所（地震主）+172.16.1.73"/>
    <add key="ip15" value="白河村AT所（地震备）+172.16.2.73"/>
    <add key="ip16" value="简阳南（信号主）+172.16.1.83"/>
    <add key="ip17" value="简阳南（信号备）+172.16.2.83"/>
    <add key="ip18" value="中继站9（信号主）+172.16.1.93"/>
    <add key="ip19" value="中继站9（信号备）+172.16.2.93"/>
    <add key="ip20" value="荣隆AT所（地震主）+172.16.1.103"/>
    <add key="ip21" value="荣隆AT所（地震备）+172.16.2.103"/>
    <add key="ip22" value="荣隆AT所（信号主）+172.16.1.113"/>
    <add key="ip23" value="荣隆AT所（信号备）+172.16.2.113"/>
    <add key="ip24" value="荣昌北牵变电所（信号主）+172.16.1.123"/>
    <add key="ip25" value="荣昌北牵变电所（信号备）+172.16.2.123"/>
    <add key="ip26" value="荣昌北牵变电所（地震主）+172.16.1.133"/>
    <add key="ip27" value="荣昌北牵变电所（地震备）+172.16.2.133"/>
    <add key="ip28" value="大足南（信号主）+172.16.1.143"/>
    <add key="ip29" value="大足南（信号备）+172.16.2.143"/>
    <add key="ip30" value="双石镇AT所（地震主）+172.16.1.153"/>
    <add key="ip31" value="双石镇AT所（地震备）+172.16.2.153"/>
    <add key="ip32" value="中继站11（信号主）+172.16.1.163"/>
    <add key="ip33" value="中继站11（信号备）+172.16.2.163"/>
    <add key="ip34" value="永川东（信号主）+172.16.1.173"/>
    <add key="ip35" value="永川东（信号备）+172.16.2.173"/>



    <!--以下为现场工控机主备网-->
    <add key="device_iptest" value="1#测试工控机+192.168.1.101"/>
    <add key="device_ip0" value="1#服务器（地震主）+172.16.0.151"/>
    <add key="device_ip1" value="2#服务器（地震备）+172.16.0.152"/>
    <add key="device_ip2" value="华兴村线路所（信号工控主）+172.16.1.11"/>
    <add key="device_ip3" value="华兴村线路所（信号工控备）+172.16.2.11"/>
    <add key="device_ip4" value="中继1（信号工控主）+172.16.1.21"/>
    <add key="device_ip5" value="中继1（信号工控备）+172.16.2.21"/>
    <add key="device_ip6" value="中继1（地震工控主）+172.16.1.31"/>
    <add key="device_ip7" value="中继1（地震工控备）+172.16.2.31"/>
    <add key="device_ip8" value="中继2（信号工控主）+172.16.1.41"/>
    <add key="device_ip9" value="中继2（信号工控备）+172.16.2.41"/>
    <add key="device_ip10" value="李家湾牵引变电所（地震工控主）+172.16.1.51"/>
    <add key="device_ip11" value="李家湾牵引变电所（地震工控备）+172.16.2.51"/>
    <add key="device_ip12" value="中继3（信号工控主）+172.16.1.61"/>
    <add key="device_ip13" value="中继3（信号工控备）+172.16.2.61"/>
    <add key="device_ip14" value="白河村AT所（地震工控主）+172.16.1.71"/>
    <add key="device_ip15" value="白河村AT所（地震工控备）+172.16.2.71"/>
    <add key="device_ip16" value="简阳南（信号工控主）+172.16.1.81"/>
    <add key="device_ip17" value="简阳南（信号工控备）+172.16.2.81"/>
    <add key="device_ip18" value="中继站9（信号工控主）+172.16.1.91"/>
    <add key="device_ip19" value="中继站9（信号工控备）+172.16.2.91"/>
    <add key="device_ip20" value="荣隆AT所（地震工控主）+172.16.1.101"/>
    <add key="device_ip21" value="荣隆AT所（地震工控备）+172.16.2.101"/>
    <add key="device_ip22" value="荣隆AT所（信号工控主）+172.16.1.111"/>
    <add key="device_ip23" value="荣隆AT所（信号工控备）+172.16.2.111"/>
    <add key="device_ip24" value="荣昌北牵变电所（信号工控主）+172.16.1.121"/>
    <add key="device_ip25" value="荣昌北牵变电所（信号工控备）+172.16.2.121"/>
    <add key="device_ip26" value="荣昌北牵变电所（地震工控主）+172.16.1.131"/>
    <add key="device_ip27" value="荣昌北牵变电所（地震工控备）+172.16.2.131"/>
    <add key="device_ip28" value="大足南（信号工控主）+172.16.1.141"/>
    <add key="device_ip29" value="大足南（信号工控备）+172.16.2.141"/>
    <add key="device_ip30" value="双石镇AT所（地震工控主）+172.16.1.151"/>
    <add key="device_ip31" value="双石镇AT所（地震工控备）+172.16.2.151"/>
    <add key="device_ip32" value="中继站11（信号工控主）+172.16.1.161"/>
    <add key="device_ip33" value="中继站11（信号工控备）+172.16.2.161"/>
    <add key="device_ip34" value="永川东（信号工控主）+172.16.1.171"/>
    <add key="device_ip35" value="永川东（信号工控备）+172.16.2.171"/>
  </appSettings>
</configuration>